@{
    ViewBag.Title = "_Navbar";
}
<div class="row">
    <div class="small-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">PanelSmith</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li>@Html.ActionLink("Home", "Index","Home")</li>
                    <li>@Html.ActionLink("About", "About","Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact","Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                    }
                    
                    <li class="has-form">
                        @using (Html.BeginForm("ProjectStringSearch", "Project", FormMethod.Post)){
                            <div class="row collapse">
                                <div class="small-8 columns">
                                    <input type="text">
                                </div>
                                <div class="small-4 columns">
                                    <a href="#" class="small button">Search</a>
                                </div>
                            </div>
                        }
                    </li>
                    <li class="divider show-for-small"></li>
                    <li class="right">@Html.Partial("~/Views/Shared/_LoginPartial.cshtml")</li>
                </ul>
            </section>
        </nav>
    </div>
</div>

