@using System.Web.Optimization
@model PanelSmithDAL.Models.Project
@{
    ViewBag.Title = "Create";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Welcome to PanelSmith</title>
    <link rel="icon" type="image/png" href="../Images/PanelSmithLogo.PNG" />
    <link rel="stylesheet" type="text/css" href="~/Content/swipebox/swipebox.css" />

    @Styles.Render("~/Content/foundation/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/swipebox/jquery.swipebox.js"></script>
</head>
<body>
    @{Html.RenderPartial("~/Views/Shared/_Navbar.cshtml");}
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="small-2 columns">
            <fieldset>
                <legend>Options</legend>
                <ul class="side-nav">
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Preview</a></li>
                    <li><a href="javascript:location.reload(true)">Erase</a></li>
                    <li><a href="#" id="SaveCanvas" class=""type="">Save</a></li>
                </ul>
            </fieldset>

        </div>
        <div class="small-8 columns">
            <h2>Create Project @ViewBag.ProjectName</h2>
            <p class="hidden" hidden>@ViewBag.PanelCount</p>
            <canvas id="myCanvas" width="610" height="790" style="border:3px solid black"></canvas>
        </div>
        <div class="small-2 columns">
            <fieldset>
                <legend>Uploads</legend>
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;" />
                <ul id="images">
                </ul>
            </fieldset>
        </div>
    </div>

@*@section Scripts {
@Scripts.Render("~/Bundles/Foundation")*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script type ="text/javascript">
        $(document).ready(function () {
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            var count = document.getElementsByClassName('hidden')[0].innerHTML
            context.lineWidth = 2;
            if(count > 0)
                context.strokeRect(20, 20, 275, 172);
            if(count > 1)
                context.strokeRect(315, 20, 275, 172);
            if(count > 2)
                context.strokeRect(20, 212, 275, 172);
            if(count > 3)
                context.strokeRect(315, 212, 275, 172);
            if(count > 4)
                context.strokeRect(20, 404, 275, 172);
            if(count > 5)
                context.strokeRect(315, 404, 275, 172);
            if(count > 6)
                context.strokeRect(20, 596, 275, 172);
            if(count > 7)
                context.strokeRect(315, 596, 275, 172);
            $('#SaveCanvas').click(saveCanvas)
        });
        function saveCanvas() {
            var canvas = document.getElementById('myCanvas');
            var dataURL = canvas.toDataURL("image/png");
            $.ajax({
                type: 'POST',
                url: '../Update',
                data: dataURL,
                success: function (data) {
                    console.log("success");
                    console.log(data);
                }
            });
            //this.href = dataURL;
        }
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
        function imageIsLoaded(e) {
            var li = $("<li>");
            li.draggable({
                helper: 'clone'
            });
            var image = $("<img>");
            image.attr('src', e.target.result);
            li.append(image);
            $('#images').append(li);
        };
        $("#myCanvas").droppable({
            accept: "li",
            drop: function (event, ui) {
                var context = $(this)[0].getContext("2d");
                context.drawImage($(ui.draggable).clone().children('img')[0], ui.position.left + 610, ui.position.top - event.target.offsetTop);
            }
        });
    </script>
@*}*@

</body>
</html>
